services:
  - type: web
    name: inventory-manager-api
    env: node
    buildCommand: npm install && npm run prisma:generate
    startCommand: npm run prisma:migrate:deploy && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000

